@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");


table {
  text-align: left;
  
}

.table-container {
  width: 100%;
  height:  100vh;
  overflow: scroll;
}

table th,
table td {
  white-space: nowrap;
  padding: 5px 12px;
  font-family: "Roboto Slab", serif;
  background-color: #151b33;
  border: 2px solid rgb(68, 59, 59);
}

table tr th:first-child,
table td:first-child {
  position: sticky;
  width: 100px;
  left: 0;
  z-index: 10;
}


table tr th:first-child {
  z-index: 11; 
  
}
.hrline{
  width: 100%;
  height: 2px;
}
table tr th {
  position: sticky;
  top: 0;
  z-index: 9;
  background-color: #151b33;
}

@media only screen and (max-width: 600px) {
  .heading_main {
    margin-bottom: 20px;
  }
  .heading_main h3 {
    font-size: 17px;
  }
  .heading_main h5 {
    font-size: 14px;
  }
  span {
    font-size: 13px;
  }
  .header_main {
    padding: 0%;
    margin: 0%;
  }
  table th,
  table td {
    white-space: nowrap;
    padding: 5px 10px;
    font-family: Arial;
    background-color: #151b33;
    border: 2px solid rgb(61, 33, 33);
  }
  th {
    font-size: 15px;
  }
  td {
    font-size: 13px;
  }
}
